@import '../../variables.css';

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.circle-spin {
  border-width: 0.75rem;
  border-style: solid;
  border-color: #eee;
  border-top-color: var(--teal);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 2s linear infinite;
}

.dual-spin {
  border-width: 0.75rem;
  border-style: solid;
  border-color: var(--teal) #ffffff00;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 2s linear infinite;
}

@keyframes flip-back-and-forth {
  0% { transform: perspective(8rem) rotateY(0deg); }
  50% { transform: perspective(8rem) rotateY(180deg); }
  100% { transform: perspective(8rem) rotateY(0deg); }
}

.square-flip {
  width: 100%;
  height: 100%;
  background-color: var(--teal);
  animation: flip-back-and-forth 1s ease infinite;
}
