:root {
  --red: #984447;
  --green: #558B6E;
  --blue: #476C9B;
  --teal: #468C98;
  --yellow: #B8C480;
  --spinner-color: var(--green);
  --spinner-size: 5rem;
  --spinner-margin: 1rem;
  --spinner-speed: 100s;
}

.cls {
  box-sizing: border-box;
}

.cls-spinner {
  display: block;
  position: relative;
  width: var(--spinner-size);
  height: var(--spinner-size);
  margin: var(--spinner-margin);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.cls-spin {
  animation: spin calc(var(--spinner-speed) / 50) linear infinite;
}

.cls-circle {
  border-width: 0.75rem;
  border-style: solid;
  border-color: #eee;
  border-top-color: var(--spinner-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.cls-dual-circle {
  border-width: 0.75rem;
  border-style: solid;
  border-color: var(--spinner-color) transparent;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.cls-wedge {
  border-width: 2.5rem;
  border-style: solid;
  border-color: var(--spinner-color) transparent;
  border-radius: 50%;
}

@keyframes flip-flop {
  0% { transform: perspective(8rem) rotateY(0deg); }
  50% { transform: perspective(8rem) rotateY(180deg); }
  100% { transform: perspective(8rem) rotateY(0deg); }
}

.cls-flip-flop {
  animation: flip-flop calc(var(--spinner-speed) / 100) ease infinite;
}

.cls-square {
  width: 100%;
  height: 100%;
  background-color: var(--spinner-color);
}

@keyframes signal {
  0% {
    transform: scale(0.01);
    opacity: 0;
  } 50% {
    opacity: 1;
  } 100% {
    transform: scale(1);
    opacity: 0;
  }
}

.cls-signal, .cls-triple-signal {
  animation: signal calc(var(--spinner-speed) / 100) ease-out infinite;
}

.cls-triple-signal:before {
  animation: signal calc(var(--spinner-speed) / 100) ease-out 100ms infinite;
}

.cls-triple-signal:after {
  animation: signal calc(var(--spinner-speed) / 100) ease-out 300ms infinite;
}

.cls-signal, .cls-triple-signal, .cls-triple-signal:before, .cls-triple-signal:after {
  border-width: 0.2rem;
  border-style: solid;
  border-color: var(--spinner-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}

.cls-triple-signal:before, .cls-triple-signal:after {
  content: '';
  top: 50%;
  left: 50%;
  margin: -2.5rem 0 0 -2.5rem;
}
