@import '../../variables.css';

main {
  max-width: 75rem;
  margin: 2rem auto;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}
